@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  background: url(./images/palm-tree-background.jpeg);
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Tahoma,
    Geneva, 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #000;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  box-sizing: border-box;
}
ul {
  list-style: none;
}

.menuWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  max-width: 700px;
  width: 80%;
  height: 80%;

  border-radius: 32px;
  background-color: white;

  margin: 3rem;
  padding: 16px;
}

.menuContent {
  margin-top: 15px;
  display: flex;
  gap: 3rem;
}

.logo {
  height: auto;
  width: 100%;
  max-width: 400px;

  margin-bottom: 2rem;
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media only screen and (max-width: 480px) {
  body {
  }
}
