@import "./index.scss";

.mainContent {
  background-color: $white;
  height: 100%;
  background: $background;
  padding: 7.5rem;

  .menuContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    background-color: $white;
    width: 100%;

    .logo {
      max-width: 320px;
    }
  }
}
